#### Pandas
- an open source BSD licensed providing high performance,
- easy to use
- Data Structures & Data Analysis Tools for python

In [8]:
# Import Pandas

import pandas as pd
import numpy as np

##### Data Frame -- Combination of rows and columns, representatio format How data looks like in the CSV file or Excel file.

In [13]:
# Creating DataFrame  -- Syntax -- pd.DataFrame(data, index, Column, dtype)

In [15]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index = ['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns = ['column1', 'column2', 'column3', 'column4'])

In [17]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [19]:
df.to_csv('Test1.csv')

In [23]:
# Acess th elements.
# .loc
# .iloc

In [25]:
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [27]:
type(df.loc['Row1'])

pandas.core.series.Series

In [29]:
df.iloc[ : , : ]

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [31]:
df.iloc[0:2,0:2]

      column1  column2
Row1        0        1
Row2        4        5

In [35]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [39]:
type(df.iloc[0:2, 0])

pandas.core.series.Series

In [41]:
df.iloc[ : ,1: ]

      column2  column3  column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [43]:
# Convertion of DataFrames into Array

In [45]:
df.iloc[ : ,1: ].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [47]:
df.iloc[ : ,1: ].values.shape

(5, 3)

In [49]:
# To check the NULL Condition

In [51]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [53]:
# .Values_counts()  -- find how many Unique Categories

In [55]:
df['column1'].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [57]:
# .Unique()

In [59]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])

In [61]:
df['column3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: column3, dtype: int32

In [63]:
df[['column2', 'column3']]

      column2  column3
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18