### Pandas 
- Reading CSV files with various parameters

In [8]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('mercedesbenz.csv')

In [17]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [21]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
# Unique Category Count

In [37]:
df ['X0'].value_counts()

X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: count, dtype: int64

In [41]:
df [df ['y'] > 100 ]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [51]:
df ['X11'].value_counts()

X11
0    4209
Name: count, dtype: int64

In [63]:
from io import StringIO, BytesIO

In [78]:
data =('col1,col2,col3\n'
       'x,y,1 \n'
       'a,b,2 \n'
       'c,d,3')

In [80]:
type(data)

str

In [112]:
df = pd.read_csv(StringIO(data))

In [114]:
df

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [84]:
# Read from specific Columns
import pandas as pd
from io import StringIO

In [110]:
df = data

In [88]:
pd.read_csv(StringIO(data), usecols=['col1'])

  col1
0    x
1    a
2    c

In [90]:
pd.read_csv(StringIO(data), usecols=['col2'])

  col2
0    y
1    b
2    d

In [94]:
pd.read_csv(StringIO(data), usecols=['col3'])

   col3
0     1
1     2
2     3

In [102]:
df_subset = pd.read_csv(StringIO(data), usecols=['col1','col3'])

In [118]:
df.to_csv('Test.csv')

In [120]:
# Specifying Column Datatypes

In [122]:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12\n')

In [124]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11,12

In [133]:
df= pd.read_csv(StringIO(data) , dtype = object)

In [135]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [141]:
df= pd.read_csv(StringIO(data) , dtype = int)

In [143]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [145]:
df= pd.read_csv(StringIO(data) , dtype = float)

In [147]:
df

     a     b     c     d
0  1.0   2.0   3.0   4.0
1  5.0   6.0   7.0   8.0
2  9.0  10.0  11.0  12.0

In [151]:
df["a"]

0    1.0
1    5.0
2    9.0
Name: a, dtype: float64

In [153]:
df["a"][1]

5.0

In [155]:
df["b"][2]

10.0

In [157]:
df= pd.read_csv(StringIO(data) , dtype ={'b' : int, 'c' : float , 'a' : 'Int64'})

In [159]:
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [161]:
df['c'][1]

7.0

In [163]:
type(df['c'][1])

numpy.float64

In [165]:
type(df['a'][1])

numpy.int64

In [171]:
df.dtypes     # Checks all the data types in it.

a      Int64
b      int32
c    float64
d      int64
dtype: object

In [174]:
# Parameters under read_csv

In [180]:
data = ('index , a, b , c\n'
        '4 , apple , bat , 5.7\n'
        '8 , orange , cow , 10\n')

In [182]:
data

'index , a, b , c\n4 , apple , bat , 5.7\n8 , orange , cow , 10\n'

In [188]:
pd.read_csv(StringIO(data))

   index          a     b      c
0       4    apple    bat    5.7
1       8   orange    cow   10.0

In [194]:
pd.read_csv(StringIO(data) , index_col =0)

               a     b      c
index
4         apple    bat    5.7
8        orange    cow   10.0

In [198]:
pd.read_csv(StringIO(data) , index_col =3)

      index          a     b
 c
5.7        4    apple    bat
10.0       8   orange    cow

In [202]:
pd.read_csv(StringIO(data) , index_col = False)

   index          a     b      c
0       4    apple    bat    5.7
1       8   orange    cow   10.0

In [204]:
# Combing Usecols & index_cols

In [206]:
data = ('a,b,c\n'
        '4,apple,bat\n'
        '8,orange,cow\n')

In [208]:
data

'a,b,c\n4,apple,bat\n8,orange,cow\n'

In [210]:
pd.read_csv(StringIO(data) ,usecols = ['b' , 'c'] , index_col = False)

        b    c
0   apple  bat
1  orange  cow

In [212]:
#Quoting & Escape Characters

In [216]:
data = 'a,b\n "hello , \\"Bob \\" , nice to see you" , 5'

In [218]:
data

'a,b\n "hello , \\"Bob \\" , nice to see you" , 5'

In [220]:
pd.read_csv(StringIO(data) ,escapechar = '\\')

                                    a  b
 "hello   "Bob "    nice to see you"   5

In [249]:
df.head()

                                     <!DOCTYPE html>
0                                   <html lang="en">
1                                             <head>
2      <meta http-equiv="X-UA-Compatible" content...
3                             <meta charset="utf-8">
4                  <title>Table Data - Consumer P...